.register-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.register-form-container {
    margin-top: 5rem;
    padding: 2rem 0;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.form-title {
    font-size: 2rem;
    text-align: center;
}

.register-image img {
    width: 30em;
}

.register-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-fields {
    margin: 0 4rem;
}

.form-controls {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.icons {
    font-size: 1.3rem;
    margin-right: 10px;
    display: none;
}

.error-message {
    width: 100%;
    margin: 0 0px 0.5rem 0;
    color: rgb(241, 56, 56);
    display: none;
}

.error {
    width: 100%;
    padding-left: 50px;
    color: rgb(241, 56, 56);
    font-size: 1.1rem;
}

.success {
    width: 100%;
    padding-left: 50px;
    color: rgb(30, 179, 146);
    font-size: 1.1rem;
}

.primary-btn {
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 15px 15px;
    margin: 1rem 0;
    background-color: rgb(10, 121, 248);
    color: #ffff;
    font-size: 1.1rem;
    transition: 0.3s ease;
}

.primary-btn:hover {
    background-color: blue;
    transition: 0.3s ease;
    cursor: pointer;
}

.add-info {
    margin-top: 15px;
    text-align: center;
}

.add-info a {
    text-decoration: none;
    color: rgb(10, 121, 248);
    transition: 0.3s ease;
}

.add-info a:hover {
    color: blue;
    transition: 0.3s ease;
}

/* Media queries */

@media (max-width:1020px) {
    .register-image img {
        width: 20em;
    }
}